@import "partials/base";
.mobile{
    margin-top: 54px;
     @media only screen and (min-width:375px) and(max-width:600px){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1,p{
            text-align: center;
        }
        h1{
            width: 50%;
            display: inline-block;
        }
    }
    .listaPresentacion{
        list-style-type: none;
        li{
            text-align: center;
            ul{
                display: flex;
                flex-direction: row;
                list-style-type: none;
                li{
                    @include CallToAction;
                    a{
                        color:nth($lista-colores,11)
                    }
                }
            }
        }
    }
}
.seccionCards3x3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 16px;
    justify-items: nth($centrar , 2 );
    align-items: nth($centrar , 2 );
    @media only screen and (min-width:601px) and(max-width:900px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;        
    }
    @media only screen and (min-width:375px) and (max-width:600px){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.presentacion{
    display:grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: 1fr;
    row-gap: 16px;
    align-items: nth($centrar , 2 );
    justify-items:nth($centrar , 2 ) ;
    @media only screen and (min-width:601px) and (max-width:900px){
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 600px;
        margin: 10px nth($centrar , 1 );
        p{
            text-align: center;
        }
    }
    .derecha,.izquierda{
        display: flex;
        border: 1.5px solid #000;
        border-radius: 10px;
        @media only screen and(min-width:375px) and (max-width:900px){
            flex-direction: column;
            margin: 16px auto;
            width: 300px;
            align-items: center;
            justify-content: center;
        }
        img{
            width: 80%;     
            @media only screen and (min-width:375px) and (max-width:900px){
                width: 100%;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                p{
                    text-align: center;
                }
                }     
                }
            p{
                margin: 16px;
            }
        }
    }
    .derecha{
        margin: 32px 256px 32px 64px;
        flex-direction: row;
        img{
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

    }
    .izquierda{
        margin:32px 64px 32px 256px;
        flex-direction: row-reverse;
        img{
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
}

.seccionPropuestas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: nth($centrar , 2 );
    align-items: nth($centrar , 2 );
    @media only screen and(min-width:372px) and (max-width:600px){
        grid-template-rows: repeat(4,1fr);
        grid-template-columns: 1fr;
        width: 20%;
        div{
            width: 300px;
        }

    }
    >div{
        width: 600px;
        transition: all 2s;
        &:hover{
            transform: scale(1.05);
        }
    }
    img{
        width:100%;
        height: auto;
    }
}